name: ci

on: [push, pull_request]


jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Build Container
        run: |
          docker build -t test-build .

      - name: Run Container
        run: |
          docker run test-build --version | grep prospector

      - name: Run Container with a component from extra
        run: |
          docker run --entrypoint bandit test-build --version | grep bandit

