name: ci

on: [push, pull_request]


jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Build Container
        run: |
          docker build -t test-build .

      - name: Run Container
        run: |
          docker run test-build --version | grep prospector

      - name: Run Container with a component from extra
        run: |
          docker run --entrypoint bandit test-build --version | grep bandit

